* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

body {
    font-family: 'Montserrat', sans-serif;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
}

.col-15 {
    width: calc(15% - 20px);
    margin: 10px;
    background-color: red; /* da togliere */
    height: 200px;
}

.col-17 {
    width: calc(100% / 6 - 20px);
    height: 200px; /* da togliere */
    background-color: red; /* da togliere */
    margin: 10px;
}

.col-30 {
    width: 30%;
    height: 100%;
    background-color: yellow; /*da togliere */
}

.col-40 {
    width: 40%;
    height: 100%;
    background-color: green; /* da togliere */
}

.titolo-sezione {
    margin-left: 10px;
    color: white;
}

.sottotitolo-sezione {
    font-size: 12px;
    color: rgb(120, 120, 120);
    margin-left: 10px;
}

/* external layout */

.external-container {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100%;
    padding-bottom: 100px;
}

.side-bar-container {
    background-color: black;
    width: 200px;
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container {
    background-color: rgb(20, 25, 34);
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.bottom-bar-container {
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
}

.top-bar-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 200px);
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* top-bar */

.top-bar-container button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 20px;
}

/* side-bar */

.side-bar-container .top-side-bar {
    height: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.side-bar-container .top-side-bar .logo {
    margin: 20px 10px;
    width: 70%;
}

.side-bar-container .top-side-bar nav {
    margin: 20px 10px;
}

.side-bar-container .top-side-bar ul {
    list-style-type: none;
}

.side-bar-container .top-side-bar nav li {
    margin: 5px 0;
}

.side-bar-container .top-side-bar a {
    text-decoration: none;
    color: white;
    opacity: 50%;
}

.side-bar-container .top-side-bar nav img {
    width: 20px;
    opacity: 50%;
}

.side-bar-container .top-side-bar .playlist {
    height: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.side-bar-container .top-side-bar .playlist h3 {
    color: white;
    margin: 10px;
}

.side-bar-container .top-side-bar .playlist .crea-playlist {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: white;
    filter: opacity(50%);
}

.side-bar-container .top-side-bar .playlist .crea-playlist i {
    font-size: 40px;
    margin-right: 5px;
}

.side-bar-container .top-side-bar .playlist .elenco-playlist {
    height: 300px;
    margin-top: 10px;
    overflow-y: auto;
}

.side-bar-container .top-side-bar .playlist .elenco-playlist li {
    margin: 10px;
    font-size: 12px;
}

.side-bar-container .bottom-side-bar {
    height: 100px;
    width: 100%;
}

.side-bar-container .bottom-side-bar .installa-app img, .side-bar-container .bottom-side-bar .user img {
    width: 20px;
    margin-right: 10px;
}

.side-bar-container .bottom-side-bar .user, .side-bar-container .bottom-side-bar .installa-app  {
    color: white;
    display: flex;
    align-items: center;
    margin: 10px;
}

.side-bar-container .bottom-side-bar .installa-app {
    filter: opacity(50%);
    padding-bottom: 10px;
    font-size: 12px;
    border-bottom: 1px solid white;
}

.side-bar-container .bottom-side-bar .user {
    font-weight: 700;
}

/* sezione ricerca */

#ricerca {
    margin-top: 100px;
    color: rgb(120, 120, 120);
}

#ricerca .row {
    justify-content: center;
    flex-wrap: wrap;
}

#ricerca .row .col {
    padding: 20px 10px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    #recently-played .row, #creati-per-te .row, #artisti-popolari .row {
        flex-wrap: wrap;
    }
    .col-17, .col-15 {
        width: calc(25% - 20px);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .col-17 {
        width: calc(50% - 20px);
    }
    #creati-per-te .row, #artisti-popolari .row {
        flex-wrap: wrap;
    }
    .col-15 {
        width: calc(50% - 20px);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .side-bar-container {
        width: 50px;
    }
    .main-container {
        width: calc(100% - 50px);
    }
    .top-bar-container {
        width: calc(100% - 50px);
    }
}

/* scomparsa bottom-side-bar */

@media screen and (max-height: 700px) {
    .bottom-side-bar {
        position: fixed;
        bottom: 0;
    }
}