* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

body {
    font-family: 'Montserrat', sans-serif;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
}

.col-15 {
    width: calc(15% - 20px);
    margin: 10px;
}

.col-17 {
    width: calc(100% / 6 - 20px);
    margin: 10px;
}

.col-30 {
    width: 30%;
    height: 100%;
    background-color: yellow; /*da togliere */
}

.col-40 {
    width: 40%;
    height: 100%;
    background-color: green; /* da togliere */
}

.titolo-sezione {
    margin: 25px 10px;
    color: white;
    font-size: 30px;
}

.sottotitolo-sezione {
    font-size: 12px;
    color: rgb(120, 120, 120);
    margin-left: 10px;
}

/* external layout */

.external-container {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100%;
    padding-bottom: 100px;
}

.side-bar-container {
    background-color: black;
    width: 200px;
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container {
    background-color: rgb(20, 25, 34);
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.bottom-bar-container {
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
}

.top-bar-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 200px);
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* top-bar */

.top-bar-container button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 20px;
}

.top-bar-container button:hover {
    padding: 15px 25px;
    font-size: 18px;
}

/* side-bar */

#logo-small {
    display: none;
}

.side-bar-container .top-side-bar {
    height: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.side-bar-container .top-side-bar .logo {
    margin: 20px 10px;
    width: 70%;
}

.side-bar-container .top-side-bar nav {
    margin: 20px 0px;
}

.side-bar-container .top-side-bar ul {
    list-style-type: none;
}

.side-bar-container .top-side-bar nav li {
    padding: 5px 10px;
}

.side-bar-container .top-side-bar nav li:first-of-type {
    border-left: 3px solid lime;
}

.side-bar-container .top-side-bar a {
    text-decoration: none;
    color: white;
    filter: opacity(50%);
}

.side-bar-container .top-side-bar a:hover {
    filter: opacity(100%);
}

.side-bar-container .top-side-bar nav img {
    width: 20px;
    filter: opacity(50%);
}

.side-bar-container .top-side-bar .playlist {
    height: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.side-bar-container .top-side-bar .playlist h3 {
    color: white;
    margin: 10px;
}

.side-bar-container .top-side-bar .playlist .crea-playlist {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: white;
    filter: opacity(50%);
}

.side-bar-container .top-side-bar .playlist .crea-playlist:hover {
    filter: opacity(100%);
}

.side-bar-container .top-side-bar .playlist .crea-playlist i {
    font-size: 40px;
    margin-right: 5px;
}

.side-bar-container .top-side-bar .playlist .elenco-playlist {
    height: 300px;
    margin-top: 10px;
    overflow-y: auto;
}

.side-bar-container .top-side-bar .playlist .elenco-playlist li {
    margin: 10px;
    font-size: 12px;
}

.side-bar-container .bottom-side-bar {
    height: 100px;
    width: 100%;
}

.side-bar-container .bottom-side-bar .installa-app img, .side-bar-container .bottom-side-bar .user img {
    width: 20px;
    margin-right: 10px;
}

.side-bar-container .bottom-side-bar .user, .side-bar-container .bottom-side-bar .installa-app  {
    color: white;
    display: flex;
    align-items: center;
    margin: 10px;
}

.side-bar-container .bottom-side-bar .installa-app {
    filter: opacity(50%);
    padding-bottom: 10px;
    font-size: 12px;
    border-bottom: 1px solid white;
}

.side-bar-container .bottom-side-bar .installa-app:hover {
    filter: opacity(100%);
}

.side-bar-container .bottom-side-bar .user {
    font-weight: 700;
}

/* sezione ricerca */

#ricerca {
    margin-top: 100px;
    color: rgb(120, 120, 120);
}

#ricerca .row {
    justify-content: center;
    flex-wrap: wrap;
}

#ricerca .row .col {
    padding: 20px 10px;
}

.active:after {
    display: block;
    content: '';
    width: 60px;
    height: 2px;
    background-color: lime;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#ricerca .col a:hover {
    color: white;
}

/* sezione ascoltati di recente */

#recently-played .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recently-played .content img {
    width: 100%;
}

#recently-played .content .copertina {
    position: relative;
}

#recently-played .content .copertina i {
    display: none;
    font-size: 50px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#recently-played .content .copertina:hover i {
    display: block;
}

#recently-played .content .copertina:hover img {
    filter: opacity(50%);
}

#recently-played .content h3 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

#recently-played .content h5 {
    color: gray;
    font-size: 12px;
    text-align: center;
}

/* sezione creato per te */

#creati-per-te h2 {
    margin-bottom: 5px;
}

#creati-per-te p {
    margin-bottom: 15px;
}

#creati-per-te .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#creati-per-te .content img {
    width: 100%;
}

#creati-per-te .content h3 {
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0;
    text-align: center;
}

/* sezione artisti più popolari */

#artisti-popolari h2 {
    margin-bottom: 5px;
}

#artisti-popolari p {
    margin-bottom: 15px;
}

#artisti-popolari .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#artisti-popolari .content img {
    width: 100%;
    border-radius: 50%;
}

#artisti-popolari .content h3 {
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0;
    text-align: center;
}

/* bottom-bar */

    /* left content */

.bottom-bar-container .content-left-bottom-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40, 40, 40);
}

.bottom-bar-container .content-left-bottom-bar .riproduzione-brano, .bottom-bar-container .content-left-bottom-bar .salva {
    display: flex;
    align-items: center;
}

.bottom-bar-container .content-left-bottom-bar .riproduzione-brano img {
    width: 25%;
    margin: 0 10px;
}

.bottom-bar-container .content-left-bottom-bar .riproduzione-brano {
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.bottom-bar-container .content-left-bottom-bar .riproduzione-brano .titolo {
    font-weight: lighter;
    color: gray;
    font-size: 12px;
}

.bottom-bar-container .content-left-bottom-bar .salva * {
    margin: 0 10px;
    filter: opacity(50%);
}

    /* center content */

.bottom-bar-container .content-center-bottom-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(40, 40, 40);
}

.bottom-bar-container .content-center-bottom-bar .azioni {
    display: flex;
    justify-content: center;
}

.bottom-bar-container .content-center-bottom-bar .azioni i {
    font-size: 20px;
    color: white;
    margin: 0 10px;
}

.bottom-bar-container .content-center-bottom-bar .timeline {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-bar-container .content-center-bottom-bar .timeline .timeline-bar {
    height: 8px;
    width: 60%;
    background-color: rgb(90, 90, 90);
    border-radius: 25px;
}

.bottom-bar-container .content-center-bottom-bar .timeline span {
    color: white;
    font-size: 12px;
}

    /* right content */

.bottom-bar-container .content-right-bottom-bar {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(40, 40, 40);
}

.bottom-bar-container .content-right-bottom-bar i {
    color: white;
    font-size: 20px;
}

.bottom-bar-container .content-right-bottom-bar .timeline-bar {
    height: 8px;
    width: 50%;
    background-color: rgb(90, 90, 90);
    border-radius: 25px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    #recently-played .row, #creati-per-te .row, #artisti-popolari .row {
        flex-wrap: wrap;
    }
    .col-17, .col-15 {
        width: calc(25% - 20px);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .col-17 {
        width: calc(50% - 20px);
    }
    #creati-per-te .row, #artisti-popolari .row {
        flex-wrap: wrap;
    }
    .col-15 {
        width: calc(50% - 20px);
    }
    .bottom-bar-container .content-left-bottom-bar .salva {
        flex-direction: column;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .side-bar-container {
        width: 50px;
    }
    .main-container {
        width: calc(100% - 50px);
    }
    .top-bar-container {
        width: calc(100% - 50px);
    }
    .side-bar-container .top-side-bar .playlist, .side-bar-container .top-side-bar nav span, .side-bar-container .bottom-side-bar span {
        display: none;
    }
    #logo-full {
        display: none;
    }
    #logo-small {
        display: block;
    }
}

/* scomparsa bottom-side-bar */

@media screen and (max-height: 700px) {
    .bottom-side-bar {
        position: fixed;
        bottom: 0;
    }
}